.action-item{
    height: 100%;
    display: grid;
    place-content: center;
    cursor: pointer;

    padding: 0 23px;
    transition: 0.1s background-color;
}
.action-item_active{
    background-color: var(--area-bold);
    color: var(--primary);
}
.action-item:hover{
    background-color: var(--area-sub);
}


