.room__user-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.room__user-list__title{
    margin: 0;
}
.button_active{
    background-color: green;
}
.button_inactive{
    background-color: red;
}

