.button{
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: unset;
    width: 100%;
    min-width: 130px;
}
.button_light{
    border: 1px solid #dfe1e5;
}
.button>span{
    flex-grow: 1;

}
.button_md{
    padding: 7px 10px;
    height: 38px;
    font-size: 16px;
    border-radius: 10px;

}
.button_md>img{
    height: 22px;
}
.button_light:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 4%);
}

.button_primary{
    background-color: var(--primary);
    color: white;
}
